.react-datepicker__header {
text-align: center;
background-color: #0d0d0d;
border-bottom: 0px;
border-top-left-radius: 0;
border-top-right-radius: 0;
padding-top: 8px;
position: relative;
}
.react-datepicker__current-month{
color:white;
}
.react-datepicker__day{
color: white;
}
.react-datepicker__day:hover{
background-color: #192e47de;
}
.react-datepicker__day-name{
color:white;
}
.react-datepicker-time__header{
color: white;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
background-color: #192e47de;
}
.react-datepicker__time-list{
background-color: #12151e;
}
.react-datepicker__today-button {
background: #3e82cfce;
border-top: 0px;
cursor: pointer;
text-align: center;
font-weight: bold;
padding: 5px 0;
clear: left;
}


.react-datepicker {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.8rem;

background-color: #12151e;
color: rgb(255, 255, 255);
border: 0px;
border-radius: 0;
display: inline-block;
position: relative;
}